/.idea
deploy_to_minipc.sh
deploy_to_rpi.sh
/libstatgrab
paybox_go
build_arm7.sh

.picasa.ini
npm-debug.log

app/app
app/logo/5.png
app/logo/logo.jpg
app/logo/logo.png
app/view
app/view4
app/view4_js_error.png
app/view_shop
hw.hcl
paybox.db
host/paybox.db
app
vending.iml
host/host
vending.iml
*.iml
host/*.iml
host/host-linux-amd64
host/host-darwin-amd64
host/log
.vscode